@media ( min-width: 1140px)
    .wrap
        max-width: 1920px
    .header-nav
        width: 85%
    .nav__btn
        display: none
    #nav__exit
        display: none
    .b-nav-link 
        position: relative
        background-color: inherit   
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%
    .nav__link_tel
        margin: 25px
        font-weight: 400
    .nav__link_btn
        margin: 25px
        font-size: 1.1em
        border-color: #ffffff
        color: #ffffff
        background-color: inherit
        font-weight: 400
        border-width: 1px
    .nav__link
        font-weight: 400
        color: #ffffff
        padding: 5px
        border-radius: 15px
    .nav__link:hover
        border-color: #ffffff
        background-color: inherit
        border-style: solid
        border-width: 1px
    .nav__link_btn:hover
        background-color:  #fb0275
    .b-title-header,
    .b-title__content
        max-width: 1380px
    .b-title__slogan
        font-size: 6em
    .b-title__desk
        font-size: 3.2em 