@media ( min-width: 768px)
    .wrap
        max-width: 1140px
    .logo
        margin: 25px
    .b-title__content
        width: 100%
        justify-content: space-between
    .b-title__img
        margin: 5%
        align-self: center
        width: 50%
    .b-title__txt
        margin: 5%
    .b-title__slogan
        font-size: 4.5em
    .b-title__desk
        font-size: 2.1em
    .b-title__btn
        font-size: 1.6em
    .btn
        height: 40px
        border-radius: 25px
    .b-title__txt
        justify-content: space-between
