body
    margin: 0
    padding: 0
    font-size: 10px
.wrap
    margin: 0 auto
    max-width: 768px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.btn
    width: 290px
    height: 30px
    border-radius: 12px
.btn,   
.btn:active, 
.btn:focus 
    outline: none
.header-nav__link
    display: none
.link_block
    display: block
    text-decoration: none
.c-flex
    display: flex
    flex-direction: column
.r-flex
    display: flex
    flex-direction: row
.block__title
    font-size: 3em
    font-weight: bold
    color: #7f38bd
@import nav-header
@import b-title
@import b-about-us
@import media-md
@import media-xl



// @media ( min-width: 576px)
//     body
//         font-size: 10px
//     .nav__btn
//         margin-top: 10px
// @media ( min-width: 768px)
//     body
//         font-size: 10px
// @media ( min-width: 992px)
//     .b-title-header
//         display: grid
//         grid-template-columns: 150px 1fr
//         margin: 10px
//     .header-nav
//         grid-column-start: 2
//         margin: auto 0
//         text-align: center
//     .nav__btn
//         display: none
//     .nav__link
//         padding: 5px 
//         text-align: center
//         font-family: 'Open Sans', sans-serif
//         font-size: 1.3em
//         color: #ffffff
//         text-transform: uppercase
//         text-decoration: none
//     .link_none
//         visibility: visible
// @media ( min-width: 1200px)
//     .b-title-header
//         grid-template-columns: 1fr 5fr
//     .header-nav
//         display: grid
//         grid-template-columns: repeat( 7, 1fr)
//     .b-title
//         grid-template-columns: 1fr 1200px 1fr
//     .b-title-header
//         grid-column-start: 2
//     .logo
//         margin: auto 0
//     .wrap
//         max-width: 1920px

   