.block.b-about-us
    img.b-about-img(id="au_img1140" src="static/img/au_img1140.png", alt="") 
    .b-about-us-content 
        span.block__title 1. О нас
        span.b-about-us__subtitle Полный спектр услуг - от дизайна до печати
        p.b-about-us__txt К вашим услугам мы предлогаем полный спектр, начиная от печати открыток, чертежей, баннеров, растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.
        p.b-about-us__txt В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплесное обслуживание. Все услуги, будь то оперативная цифровая печаит открыток или разработка серии календарей. Вы можете получить в одном месте, воспользовавшись сопутствующими услугами копицентра.
        p.b-about-us__txt При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте.
        img.b-about-us__img(id="au_img320" src="static/img/au_img320.png", alt="")
        img.b-about-us__img(id="au_img750" src="static/img/au_img750.png", alt="")