.block.b-title.c-flex
    header.b-title-header.r-flex
        h1.logo ARTACTIVE
        include nav-header
    #b-title__content.b-title__content.c-flex
        img(src="static/img/imgB-title.png", class="b-title__img", alt="imgB-title.png")
        .b-title__txt.c-flex
            span.b-title__slogan размер <br> не имеет<br> значения!<br>
            span.b-title__desk Оперативная полиграфия <br>и широкоформатная печать<br> любого размера<br>
            .b-title__control.c-flex
                button.btn.b-title__btn заказать печать
                span.btn__desk с доставкой по Могилеву<br>и Могилевской области
