<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ARTACTIVE
        link(rel="stylesheet", href="style/style.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet")
    body
        .wrap
            block b-title
                    include b-title
        script(src="js/navHeader.js")
        script(src="js/colInRow.js")
        script(src="js/headerNavRow.js")