nav.header-nav
    button.nav__btn
        img(src="static/img/menuHeader.png", alt="menu")
    .b-nav-link.link_none
        img(id="nav__exit" src="static/img/exitNav.png", alt="exit")
        a.nav__link(href="") о нас
        a.nav__link(href="") услуги
        a.nav__link(href="") отзывы
        a.nav__link(href="") faq
        a.nav__link(href="") контакты
        a.nav__link.nav__link_tel(href="") +7 (920) 148 81 31
        a.nav__link.nav__link_btn(href="") заказать звонок  